@charset "utf-8";

a:link {
  color: #368;
}
a:visited {
  color: #69b;
}
a:hover {
  color: #bcd;
}
a:active {
  color: #246;
}
body {
  color: #131;
  background-color: #efe;
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
  word-break: break-all;
}
h1 {
  text-align: center;
  background-color: #aca;
}
h2 {
  border-left: 10px solid #696;
  border-bottom: 1px solid #696;
  padding-left: 10px;
}
h3 {
  border-bottom: 1px dotted #363;
}
